
body {
        font-size:100%;
        font:inherit;
        line-height:1;
        font-family:Dinpro,helvetica,arial,sans-serif;
        color:#101820;
}
* {
        box-sizing: inherit;
}

div {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}

body {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}

body {
        line-height: 1;
}

body {
        height: 100vh;
        font-family: Dinpro,helvetica,arial,sans-serif;
        background-color: #f5f5f3;
        margin: 0;
        color: #101820;
}



html {
        box-sizing: border-box;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scroll-padding-top: 20px;
}






.css-1qkimn {
        margin: 0 auto;
        max-width: 1680px;
        width: 100%;
        display: grid;
        z-index: 300;
        position: relative;
        grid-template-areas: "usp usp" "logo iconnav" "search search";
        grid-template-columns: 1fr 1fr;
}

@media (min-width: 1024px){
        .css-1qkimn {
                grid-template-areas: "usp usp usp usp" "logo nav search iconnav" ". . . .";
                grid-template-columns: 70px auto 1fr 140px;
        }
}




.css-recfet {
        grid-area: logo;
        display: block;
        line-height: 0;

}



.css-mxxhuv {
        display: none;
        grid-area: nav;
}
/*styling for menu usynlig hvis skærm er under 1024pixel */
@media (min-width: 1024px){
        .css-mxxhuv {
                display: block;
        }
}

.css-17kxde3 {
        grid-area: search;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-self: flex-end;
        align-self: center;
        padding: 15px;
        width: 100%;
}


.css-4emdtb {
        display: grid;
        grid-auto-flow: column;
        grid-area: iconnav;
        margin-left: auto;
}

.css-inbqmi {
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        z-index: 400;
        -webkit-transition: top 0.4s ease-in-out;
        transition: top 0.4s ease-in-out;
        background-color: #FFFFFF;
}

ul {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}

ul {
        list-style: none;
}



@media (min-width: 1024px){
        .css-recfet svg  {
                height: 70px;
                width: 70px;
        }
}

.css-3gkfpg {
        display: grid;
        grid-auto-flow: column;
        margin: 0 30px;
        gap: 15px;
}


.css-yy3si3 {
        display: inline-flex;
        flex-direction: column; /* Ændret til kolonneorientering */
        align-items: center;
        appearance: none;
        background-color: transparent;
        border: none; /* Fjernet border-stil */
        border-radius: 0;
        box-sizing: border-box;
        color: inherit;
        cursor: pointer;
        flex-shrink: 0;
        letter-spacing: 0;
        line-height: 1;
        margin: 0;
        padding: 10px;
        text-align: center;
        height: 60px;
        position: relative;
        aspect-ratio: 1;
        justify-content: center;
        font-size: 10px;
        text-decoration: none; /* Fjernet understregning */
}


@media (min-width: 1024px){
        .css-yy3si3 {
                height: 70px;
        }
}

.css-oi30ox {
        transform-origin: center;
}

.css-ld7dfk {
        display: inline-block;
        align-items: center;
        appearance: none;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-sizing: border-box;
        color: inherit;
        cursor: pointer;
        flex-shrink: 0;
        letter-spacing: 0;
        line-height: 1;
        margin: 0;
        padding: 10px;
        text-align: center;
        height: 60px;
        position: relative;
        aspect-ratio: 1;
        border-bottom: 2px solid transparent;
        width: 50px;
        justify-content: center;
        font-size: 10px;
}

.css-ld7dfk img {
        width: 20px; /* Juster bredden efter behov */
}


.css-ld7dfk .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 100%; /* Placer dropdown-menuen under knappen */
        right: 0; /* Juster denne værdi efter behov for at centrere dropdown-menuen mere */
}

.css-ld7dfk:hover .dropdown-content {
        display: block;
}

.css-ld7dfk .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
}

.css-ld7dfk .dropdown-content a:hover {
        background-color: #f1f1f1;

}




/*styling for menu button synlig hvis skærm er under 1024pixel */

@media (min-width: 1024px){
        .css-ld7dfk {
                height: 70px;
        }

        .css-ld7dfk {
                display: none;
        }
}


.css-yy3si3 svg  {
        height: 25px;
        width: 25px;
        margin: 0 auto;
}

span {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}






.css-1gx9qgy {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        text-align: center;
        margin: auto;
        height: 60px;
        color: #101820;
        font-size: 13px;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        line-height: 15px;
}

@media (min-width: 1024px){
        .css-1gx9qgy {
                height: 70px;
        }
}

.css-1gx9qgy:after {
        display: block;
        content: attr(data-content);
        height: 1px;
        color: transparent;
        overflow: hidden;
        visibility: hidden;
        font-weight: 500;
}

.css-1gx9qgy:hover {
        color: currentcolor;
        text-decoration: none;
        border-bottom: 2px solid currentColor;
}
.css-1gx9qgy.active {
        border-bottom: 2px solid currentColor; /* Ændr dette til det ønskede udseende */
}



@media (min-width: 1024px){
        .css-8bq568 {
                top: 100px;
        }
}

.css-1b84qwn svg  {
        width: 25px;
        height: 25px;
        transition: transform 0.2s ease-in-out;
}

.css-uoomdt svg  {
        width: 18px;
        height: 18px;
}

.css-1gbgw4w {
        display: grid;
        gap: 30px;
}



a:hover .css-1cfecln {
        background-size: 100% 100%;
}

a:hover .css-1cfecln, button:hover .css-1cfecln {
        background-size: 100% 100%;
}


.css-17kxde3 {
        grid-area: search;
        position: relative;
        display: flex;
        flex-direction: row; /* Ændret fra kolonne til rækkeorientering */
        align-items: center; /* Centrerer elementer vertikalt */
        padding: 15px;
        width: 100%;
}

#searchInput {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px; /* Runde hjørner kun til venstre (toppen) af input-feltet */
}

#searchButton {
        margin-left: -1px; /* Justering af marginen for at undgå overlapning og bevare den firkantede kant mellem input og knap */
        padding: 10px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 0 4px 4px 0; /* Runde hjørner kun til højre (toppen) af knappen */
        cursor: pointer;
}

#searchButton:hover {
        background-color: #0056b3;
}



/* Tabelstil */
#sortable-table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
}

#sortable-table th, #sortable-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
}

#sortable-table th {
        background-color: #f2f2f2;
}

/* Knappes stil */
button {
        background-color: #007BFF;
        color: white;
        padding: 8px 13px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}

button:hover {
        background-color: #0056b3;
}

/* Formularstil */
form {
        display: inline-block; /* Gør formularerne vandrette */
        margin-right: 5px;
}

/* Bekræftelsesboks for sletning */
#deleteForm {
        display: inline-block;
}

/* Responsivt design: Gør tabellen fuldt responsiv på mindre skærme */
@media (max-width: 600px) {
        #sortable-table, #sortable-table thead, #sortable-table tbody, #sortable-table th, #sortable-table td, #sortable-table tr {
                display: block;
        }

        #sortable-table thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
        }

        #sortable-table tr {
                margin-bottom: 15px;
        }

        #sortable-table td {
                border: none;
                position: relative;
                padding-left: 50%;
                text-align: left;
        }

        #sortable-table td:before {
                position: absolute;
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
        }

        #sortable-table td:nth-of-type(1):before { content: "ID:"; }
        #sortable-table td:nth-of-type(2):before { content: "Product Name:"; }
        #sortable-table td:nth-of-type(3):before { content: "Product Type:"; }
        #sortable-table td:nth-of-type(4):before { content: "Product Size:"; }
        #sortable-table td:nth-of-type(5):before { content: "Unit:"; }
        #sortable-table td:nth-of-type(6):before { content: "Quantity in Stock:"; }
        #sortable-table td:nth-of-type(7):before { content: "Sales Price:"; }
        #sortable-table td:nth-of-type(8):before { content: "Purchase Price:"; }
        #sortable-table td:nth-of-type(9):before { content: "Actions:"; }
}



#page-content {
        background-color: #FFFFFF;
        margin: 0 auto;
        max-width: 1024px;
        width: 100%;

}
#page-container {
        text-align: center;
}

.indhold-box {
        border-collapse: collapse;
        width: 100%;
}



.carports_img {
        width: 300px;
        height: 200px;
}

.indhold-box {
        display: flex;
        justify-content: center;
        align-items: center;
}

.centered-box {
        width: 10rem; /* or any size you want */
        height: 5rem; /* or any size you want */
        margin: 2rem; /* to add some space between the boxes */
}


.user-box, .order-box, .material-box {
        margin: 10px; /* Add margin for spacing */
}


@media screen and (min-width: 0px) and (max-width: 450px) {
        #svg-box { display: none; }
}