.logo  {
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px;
        margin : 10px;




}
header{
        background-color: white;

        width: 100%;
        display : flex;
        justify-content: space-between;
        align-items: center;



}
.logo{
        background-color: #001cd4;
        color: white;
        height: 20px;
        width :50px ;
        font-weight: bold;"
        font-size =100px;
}
