<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
      <link rel="stylesheet" href="./snipped.css">
   </head>
   <body>
<header class="css-inbqmi e1nzw0083 snipcss-ihNxt">
    <div class="css-1qkimn e1nzw0084"> <a aria-label="Logo - Frontpage" class="css-recfet e1nzw00811" href="/"><img src="../../img/fogLogo.bmp"></a>
        <nav class="css-mxxhuv ep0bdet0">
            <ul class="css-3gkfpg ep0bdet1">
                <li><a data-content="Bolig &amp; design" href="/bolig-design" class="css-1gx9qgy eex3fzi0" aria-expanded="false">Bolig &amp; design</a></li>
                <li><a data-content="Bolig &amp; design" href="/bolig-design" class="css-1gx9qgy eex3fzi0" aria-expanded="false">Bolig &amp; design</a></li>
                <li><a data-content="Bolig &amp; design" href="/bolig-design" class="css-1gx9qgy eex3fzi0" aria-expanded="false">Bolig &amp; design</a></li>
                <li><a data-content="Bolig &amp; design" href="/bolig-design" class="css-1gx9qgy eex3fzi0" aria-expanded="false">Bolig &amp; design</a></li>
            </ul>

        </nav>
        <section class="css-17kxde3 e8tb0nm0">
            <div class="css-17kxde3">
                <input type="text" id="searchInput" placeholder="Søg...">
                <button id="searchButton" onclick="search()">Søg</button>
            </div>
        </section>
        <div class="css-4emdtb e1nzw00810">
            <a href="/om-fog/forretninger" class="css-yy3si3 e1nzw0082">

                <span class="css-108uwdu e1nzw0086">Find Fog</span>
            </a>
            <div class="css-oi30ox e1nzw0081">
                <a href="/kurv" class="css-yy3si3 e1nzw0082">

                    <span class="css-108uwdu e1nzw0086">Kurv</span>
                </a>
            </div>
            <button class="css-ld7dfk e1nzw0082">

                <span class="css-108uwdu e1nzw0086">Menu</span>
            </button>
        </div>
  </div>
</header>
   </body>
</html>
