<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('materials')}"></div>

<body>

<div id="page-container">
  <div id="page-content">
    <div th:replace="~{fragments :: header('materials')}"></div>
    <div class="indhold-box" id="content">
    <table id="sortable-table">

      <form method="post">
        <table>
          <tr>
            <th>Product Name</th>
            <th>Product Type</th>
            <th>Product Size</th>
            <th>Unit</th>
            <th>Quantity in Stock</th>
            <th>Buy Price</th>
            <th>Purchase Price</th>
          </tr>
          <tr>
            <td><input type="text" name="productName" /></td>
            <td><input type="text" name="productType" /></td>
            <td><input type="text" name="productSize"  /></td>
            <td><input type="text" name="unit" /></td>
            <td><input type="text" name="quantityInStock" /></td>
            <td><input type="text" name="buyPrice"/></td>
            <td><input type="text" name="purchasePrice" /></td>
          </tr>
        </table>


        <button type="submit" formaction="/add_matreriel">tilføj</button>
      </form>



    </table>


    <div th:replace="~{fragments :: footer}"></div>
  </div>
  </div>
</div>
</body>
</html>
