<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('Admin menu')}"></div>

<body>

<div id="page-container">
    <div id="page-content">
        <div th:replace="~{fragments :: header('Admin menu')}"></div>
        <div class="indhold-box" id="content">
            <div class="nav">
                <div class="centered-box">
                    <form method="post">
                        <button class="nav-link" type="submit" formaction="/materials">Materialer</button>
                    </form>
                </div> <br>
                <div class="centered-box">
                    <form method="post">
                        <button class="nav-link" type="submit" formaction="/adminordre">Ordre</button>
                    </form>
                </div> <br>
                <div class="centered-box">
                    <form method="post">
                        <button class="nav-link" type="submit" formaction="/carport_size">Bygge størrelse</button>
                    </form>
                </div> <br>
                <div class="centered-box">
                    <form method="post">
                        <button class="nav-link" type="submit" formaction="/adminCalc">Bygge materialer</button>
                    </form>
                </div> <br>
            </div> <br>
        </div>



        <div th:replace="~{fragments :: footer}"></div>
    </div>
</div>
</body>
</html>
