<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
      <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

      <div th:replace="~{fragments :: head('materials')}"></div>

      <body>

      <div id="page-container">
      <div id="page-content">
      <div th:replace="~{fragments :: header('materials')}"></div>
      <div class="indhold-box" id="content">

<h1>Admin</h1>



      <div th:replace="~{fragments :: footer}"></div>
      </div>
      </div>
      </div>
      </body>
      </html>
    </title>
</head>
<body>

</body>
</html>