<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('Ordrer')}"></div>

<body>

<div id="page-container">
    <div id="page-content">
        <div th:replace="~{fragments :: header('Ordrer')}"></div>
        <div class="indhold-box" id="content">
            <h1>Brugere og Ordrer</h1>

            <!-- Search input -->


            <table id="sortable-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Balance</th>
                    <th>Ordre Nr</th>
                    <th>Ordre Status</th>
                    <th>Ordre Pris</th>
                    <th>Handling</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${usersAndOrders}" class="table-row">
                    <!-- Kontroller om brugeren har ordrer -->
                    <th:block th:if="${#lists.size(entry.value) > 0}">
                        <td th:text="${entry.key.id}"></td>
                        <td th:text="${entry.key.firstName}"></td>
                        <td th:text="${entry.key.lastName}"></td>
                        <td>
                            <table>
                                <tr th:each="order : ${entry.value}">
                                    <td th:text="${order.orderNr}"></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr th:each="order : ${entry.value}">
                                    <td th:text="${order.status}"></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr th:each="order : ${entry.value}">
                                    <td th:text="${order.price}"></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <form th:each="order : ${entry.value}" th:object="${order}" method="post"
                                  th:action="@{'/tilbud/' + ${order.orderNr}}">
                                <button type="submit">Se order</button>
                            </form>
                               <form th:each="order : ${entry.value}" th:object="${order}" method="post" id="deleteForm"
                                      th:action="@{'/delete_order/' + ${order.orderNr}}"
                                      th:attr="onsubmit='return confirmDelete(\'' + ${order.orderNr} + '\')'">
                                <button type="submit">Slet</button>
                            </form>
                        </td>
                    </th:block>
                </tr>
                </tbody>
            </table>

        </div>

        <script>
            function searchcontent() {
                const searchInput = document.getElementById('searchInput');
                const filter = searchInput.value.toLowerCase();
                const tableRows = document.querySelectorAll('#sortable-table tbody tr');

                tableRows.forEach(function (row) {
                    const rowText = Array.from(row.querySelectorAll('td'))
                        .map(cell => cell.textContent.toLowerCase())
                        .join(' ');

                    if (filter === '' || rowText.includes(filter)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            }

            function confirmDelete(materialId) {
                console.log('Material ID:', materialId);

                var userConfirmed = confirm("Er du sikker på, at du vil slette " + materialId + "?");

                return userConfirmed;
            }
        </script>

        <div th:replace="~{fragments :: footer}"></div>
    </div>
</div>
</body>
</html>
