<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('Dimensioner')}"></div>

<body>

<div id="page-container">
    <div id="page-content">
        <div th:replace="~{fragments :: header('Dimensioner')}"></div>
        <div class="indhold-box" id="content">

            <div id="tables">
                <h3>Carport Længder</h3>
                <table id="carportlength-table">
                    <form method="post" action="/add_carportlength">
                        <div>
                            <label for="addCarportLength">Tilføj længde:</label>
                        </div>
                        <input type="text" id="addCarportLength" name="carportLength"/>
                        <button type="submit">Tilføj</button>
                    </form>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Længde</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="length : ${#ctx.carportLength}">
                        <td th:text="${length.id}"></td>
                        <td th:text="${length.length}"></td>
                        <td>
                            <form method="post" th:action="@{'/delete_carportlength/' + ${length.id}}"
                                  id="deleteFormCarportLength"
                                  th:attr="onsubmit='return confirmDelete(\'' + ${length.length} + '\')'">
                                <button type="submit">Slet</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h3>Carport Bredder</h3>
                <table id="carportwidth-table">
                    <form method="post" action="/add_carportwidth">
                        <div>
                            <label for="addCarportWidth">Tilføj bredde:</label>
                        </div>
                        <input type="text" id="addCarportWidth" name="carportWidth"/>
                        <button type="submit">Tilføj</button>
                    </form>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Bredde</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="width : ${#ctx.carportWidth}">
                        <td th:text="${width.id}"></td>
                        <td th:text="${width.width}"></td>
                        <td>
                            <form method="post" th:action="@{'/delete_carportlength/' + ${width.id}}"
                                  id="deleteFormCarportWidth"
                                  th:attr="onsubmit='return confirmDelete(\'' + ${width.width} + '\')'">
                                <button type="submit">Slet</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h3>Skur Længder</h3>
                <table id="shedtlength-table">
                    <form method="post" action="/add_shedlength">
                        <div>
                            <label for="addCarportLength">Tilføj længde:</label>
                        </div>
                        <input type="text" id="addShedLength" name="shedLength"/>
                        <button type="submit">Tilføj</button>
                    </form>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Længde</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="length : ${#ctx.shedLength}">
                        <td th:text="${length.id}"></td>
                        <td th:text="${length.length}"></td>
                        <td>
                            <form method="post" th:action="@{'/delete_shedlength/' + ${length.id}}"
                                  id="deleteFormShedLength"
                                  th:attr="onsubmit='return confirmDelete(\'' + ${length.length} + '\')'">
                                <button type="submit">Slet</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h3>Skur Bredder</h3>
                <table id="shedwidth-table">
                    <form method="post" action="/add_shedwidth">
                        <div>
                            <label for="addCarportWidth">Tilføj længde:</label>
                        </div>
                        <input type="text" id="addShedWidth" name="shedWidth"/>
                        <button type="submit">Tilføj</button>
                    </form>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Bredde</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="width : ${#ctx.shedWidth}">
                        <td th:text="${width.id}"></td>
                        <td th:text="${width.width}"></td>
                        <td>
                            <form method="post" th:action="@{'/delete_shedwidth/' + ${width.id}}" id="deleteForm"
                                  th:attr="onsubmit='return confirmDelete(\'' + ${width.width} + '\')'">
                                <button type="submit">Slet</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div> <br>
        </div> <br>
      <div th:replace="~{fragments :: footer}"></div>
    </div>
</div>
</body>
</html>

</body>
</html>


<script>
    function confirmDelete(id) {
        console.log('Material ID:', id);
        return confirm("Er du sikker på, at du vil slette " + id + "?");
    }
</script>
