<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('Ordrer')}"></div>

<body>

<div id="page-container">
    <div id="page-content">
        <div th:replace="~{fragments :: header('Ordrer')}"></div>
        <div class="indhold-box" id="content">
            <div id="page-content">
                <h1>Brugere</h1>
                <table id="sortable-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}" class="table-row">
                        <td th:text="${user.id}"></td>

                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td>

                            <form th:object="${user.id}" method="post"
                                  th:action="@{'/admin_user_details/' + ${user.id}}">
                                <button type="submit">Se detaljer</button>
                            </form>

                            <form method="post" th:action="@{'/deleteUser/' + ${user.id}}"  id="deleteForm"
                                  th:attr="onsubmit='return confirmDelete(\'' + ${user.firstName} + '\')'">
                                <button type="submit">Slet</button>
                            </form>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <script>
                function searchcontent() {
                    const searchInput = document.getElementById('searchInput');
                    const filter = searchInput.value.toLowerCase();
                    const tableRows = document.querySelectorAll('#sortable-table tbody tr');

                    tableRows.forEach(function (row) {
                        const rowText = Array.from(row.querySelectorAll('td'))
                            .map(cell => cell.textContent.toLowerCase())
                            .join(' ');

                        if (filter === '' || rowText.includes(filter)) {
                            row.style.display = '';
                        } else {
                            row.style.display = 'none';
                        }
                    });
                }
            </script>
            <script>
                function confirmDelete(username) {

                    var userConfirmed = confirm("Er du sikker på, at du vil slette " + username + "?");

                    return userConfirmed;
                }
            </script>

        </div>
        <div th:replace="~{fragments :: footer}"></div>
    </div>
</div>

</body>
</html>
