<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fog</title>
    <link rel="stylesheet" href="../public/stylesheet.css">
</head>

<body>
<div>
    <header>
        <a href="index.html" class="logo">Fog</a>

        <nav class="navigation">
            <a href="/">Bolig & Design</a>
            <a href="/">Byggermaterialer</a>
            <a href="/">Kontakt</a>
        </nav>
    </header>
</div>

<div th:each="allCarports : ${allCarports}">
    <!-- This should take the carports images and assign each image to the correct carport id -->
    <img class="carports_img" th:src="@{'/public/images/carport_' + ${allCarports.id} + '.jpg'}" alt='Carports' />

    <tr>
        <td th:text="${allCarports.merchandiser}">test</td>
        <td th:text="${allCarports.productName}"></td>
        <td th:text="${allCarports.price}"><small>pr. stk + evt. fragt</small></td>
        <form method="post" th:action="@{'/carport_info/' + ${allCarports.id}}">
        <button type="submit" class="info-btn">Se mere info</button>
        </form>
    </tr>
</div>

<footer>
    <section id="footer">
        <table>
            <tr>
                <td>Kundeservice</td>
                <td>Aktuelt</td>
                <td>Om Fog</td>
                <td>Om Fog</td>
                <td>Med omtanke </td>
            </tr>
            <tr>
                <td>16</td>
                <td>14</td>
                <td>10</td>
                <td>Om Fog</td>
                <td>Med omtanke </td>
            </tr>
        </table>
    </section>
</footer>
</body>
</html>