<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fog</title>
    <link rel="stylesheet" href="../public/stylesheet.css">
</head>
<body>
<div>
    <header>
        <a href="index.html" class="logo">Fog</a>

        <nav class="navigation">
            <a href="/">Bolig & Design</a>
            <a href="/">Byggermaterialer</a>
            <a href="/">Kontakt</a>
        </nav>
    </header>
</div>

<div>
    <img class="carports_img" src="/public/images/carport_1.jpg" alt="Carport 1">
    <p>Fog</p>
    <h3>DOBBELT CARPORT 6,00X4,80 M CAR01DU UDEN MIDTERSTOLPE - FLADT TAG</h3>
    <p> 11.198,60 </p>
    <p><small>pr. stk + evt. fragt</small></p>
    <form id="info-one-form" method="post">
        <button type="submit" class="info-btn" formaction="/carportone">Se mere info</button>
    </form>
</div>

<div>
    <img class="carports_img" src="/public/images/carport_2.jpg" alt="Carport 2">
    <p>Fog</p>
    <h3>DOBBELT CARPORT 6,00X9,90 M CP02HXL MED REDSKABSRUM OG HØJ REJSNING</h3>
    <p> 41.998,60 </p>
    <p><small>pr. stk + evt. fragt</small></p>
    <form id="info-two-form" method="post">
        <button type="submit" class="info-btn" formaction="/carporttwo">Se mere info</button>
    </form>
</div>

<div>
    <img class="carports_img" src="/public/images/carport_3.jpg" alt="Carport 3">
    <p>Fog</p>
    <h3>ENKELT CARPORT 6,00X5,40 M CAR01DR MED REDSKABSRUM OG TØRREPLADS, FLADT TAG</h3>
    <p> 13.298,60 </p>
    <p><small>pr. stk + evt. fragt</small></p>
    <form id="info-three-form" method="post">
        <button type="submit" class="info-btn" formaction="/carportthree">Se mere info</button>
    </form>
</div>

<footer>
    <section id="footer">
        <table>
            <tr>
                <td>Kundeservice</td>
                <td>Aktuelt</td>
                <td>Om Fog</td>
                <td>Om Fog</td>
                <td>Med omtanke </td>
            </tr>
            <tr>
                <td>16</td>
                <td>14</td>
                <td>10</td>
                <td>Om Fog</td>
                <td>Med omtanke </td>
            </tr>
        </table>
    </section>
</footer>

</body>
</html>