<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('Byg-selv')}"></div>

<body>

<div id="page-container">
    <div id="page-content">
        <div th:replace="~{fragments :: header('Byg-selv')}"></div>
        <div class="indhold-box" id="content">
            <div>
                <h1>Bestil Quick-Byg tilbud - carport med fladt tag</h1>
                <h3>
                    Med et specialudviklet computerprogram kan vi lynhurtigt beregne prisen og udskrive en skitsetegning
                    på en carport indenfor vores standardprogram.
                    Tilbud og skitsetegning fremsendes med post hurtigst muligt.
                    Ved bestilling medfølger standardbyggevejledning.

                    Udfyld formularen omhyggeligt og klik på "Bestil tilbud".
                    Felter markeret med * SKAL udfyldes!</h3> <br>

                <form id="order" method="post" action="/adresse">
                    <label for="carportWidth">Carport Bredde: *</label> <br>
                    <select id="carportWidth" name="carportWidth">
                        <option th:each="carportWidth: ${#ctx.carportWidth}" th:value="${carportWidth.width}"
                                th:text="${carportWidth.width}"></option>
                    </select> <br>

                    <label for="carportLength">Carport Længde: *</label> <br>
                    <select id="carportLength" name="carportLength">
                        <option th:each="carportLength: ${#ctx.carportLength}" th:value="${carportLength.length}"
                                th:text="${carportLength.length}"></option>
                    </select> <br>

                    <label for="roof">Carport Tag: *</label> <br>
                    <select id="roof" name="roof">
                        <option th:each="roof: ${#ctx.roof}" th:value="${roof}"
                                th:text="${roof}"></option>
                    </select> <br>
                    <h3>Redskabsrum:</h3>
                    <input type="radio" onclick="hideShed()" id="noShed" name="shed" th:value="noShed" checked/>
                    <label for="noShed">Uden redskabsrum</label> <br>
                    <input type="radio" onclick="showShed()" id="shed" name="shed" th:value="shed"/>
                    <label for="shed">Med redskabsrum</label> <br>
                    <div id="shedContent" style="display: none">
                        <label for="shedWidth">Redskabsrum bredde:</label> <br>
                        <select id="shedWidth" name="shedWidth">
                            <option th:each="shedWidth: ${#ctx.shedWidth}" th:value="${shedWidth}"
                                    th:text="${shedWidth.width}"></option>
                        </select> <br>
                        <label for="shedLength">Redskabsrum Længde:</label> <br>
                        <select id="shedLength" name="shedLength">
                            <option th:each="shedLength: ${#ctx.shedLength}" th:value="${length}"
                                    th:text="${shedLength.length}"></option>
                        </select> <br>
                    </div> <br>
                    <script>

                        function showShed() {
                            var x = document.getElementById("shedContent");
                            x.style.display = "block";
                        }

                        function hideShed() {
                            var x = document.getElementById("shedContent");
                            x.style.display = "none";
                        }
                    </script>
                    <button id="order-btn" type="submit" >Videre</button> <br>
                </form>
            </div> <br>
        </div> <br>
        <div th:replace="~{fragments :: footer}"></div>
    </div>
</div>
</body>
</html>
