<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fog</title>
    <link rel="stylesheet" href="../public/stylesheet.css">
</head>


<table>
<tbody>
<div th:each="standardCarport : ${standardCarport}">

<!-- This should take the carports images and assign each image to the correct carport id -->
<img class="carports_img" th:src="@{'/public/images/carport_' + ${standardCarport.id} + '.jpg'}" alt='Carports' />

<form id="info" method="post">
    <tr th:each="standardCarport : ${standardCarport}">
        <td th:text="${standardCarport.merchandiser}">test</td>
        <td th:text="${standardCarport.productname}"></td>
        <td th:text="${standardCarport.price}"></td>
        <td th:text="${standardCarport.description}"></td>
    </tr>
</form>

    <tr>
        <td>
            <form id="zip" method="post">
                <p>Indtast dit postnummer for at udregne leveringspris og leveringstid.</p>
                <input  type="text" name="zip" placeholder="Postnummer">
                <div>
                <button type="submit">Beregn</button>
                </div>
            </form>
        </td>
    </tr>
</div>
    <tr th:each="shipping : ${#ctx.session.containsKey(shipping)}">
    <td th:text="${'Leveringspris: ' + #ctx.shippingPrice + ',-'}"></td>
    <td th:text="${'Leveringstid: ' + #ctx.shippingTime + ' hverdage'}"></td>
    </tr>


    </tbody>
</table>

</html>