<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fog</title>
    <link rel="stylesheet" href="../public/stylesheet.css">
</head>
<body>
<div class="container">
    <table id="sortable-table">
        <form method="post" th:action="@{'/updatematerials/' + ${material.id}}" th:object="${materials}">
            <table>
                <tr>
                    <td><input type="text" name="id" th:value="${material.id}" readonly="readonly" /></td>
                    <td><input type="text" name="productName" th:value="${material.productName}" /></td>
                    <td><input type="text" name="productType" th:value="${material.productType}" /></td>
                    <td><input type="text" name="productSize" th:value="${material.productSize}" /></td>
                    <td><input type="text" name="unit" th:value="${material.unit}" /></td>
                    <td><input type="text" name="quantityInStock" th:value="${material.quantityInStock}" /></td>
                    <td><input type="text" name="buyPrice" th:value="${material.buyPrice}" /></td>
                    <td><input type="text" name="purchasePrice" th:value="${material.purchasePrice}" /></td>
                </tr>
            </table>

            <input type="submit" value="Gem ændringer">
        </form>



    </table>
    <a href="/materials"><button type="button">Tilbage</button></a>

</div>
</div>
</body>
</html>
