<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fog</title>
    <link rel="stylesheet" href="../public/stylesheet.css">
</head>
<body>
<div>
<header>
    <a href="index.html" class="logo">Fog</a>

    <nav class="navigation">
        <a href="/">Bolig & Design</a>
        <a href="/">Byggermaterialer</a>
        <a href="/">Kontakt</a>
    </nav>
</header>
</div>

<h1>Bestil Quick-Byg tilbud - carport med fladt tag</h1><br>
<h3>
    Med et specialudviklet computerprogram kan vi lynhurtigt beregne prisen og udskrive en skitsetegning på en carport indenfor vores standardprogram.
    Tilbud og skitsetegning fremsendes med post hurtigst muligt.
    Ved bestilling medfølger standardbyggevejledning.

    Udfyld formularen omhyggeligt og klik på "Bestil tilbud".
    Felter markeret med * SKAL udfyldes!</h3>
<div id = "content ">
<div class = "dropdownMenu">


    <form id="dropdown" method="post">
    <label for ="carportWidth" >Carport Bredde</label>
    <select id="carportWidth" name="carportWidth">
        <option th:each="width: ${#ctx.carportWidth}" th:value="${width}"
        th:text="${width + ' cm'}"></option>
    </select> <br>

        <label for="carportLength">Carport Længde</label>
        <select id="carportLength" name="carporLength">
            <option th:each="length: ${#ctx.carportLength}" th:value="${length}"
                    th:text="${length + ' cm'}"></option>
        </select> <br>

    <label for="roof">Carport trapeztag</label>
    <select id="roof" name="roof">
        <option th:each="roof: ${#ctx.roof}" th:value="${roof}"
                th:text="${roof}"></option>
    </select> <br>
    </form>

   <p>Redskabsrum</p>
    <p>NB! Der skal beregnes 15 cm tagudhæng på hver side af redskabsrummet*</p>

        <label for="skurbredde">Redskabsrum bredde*</label><br>
        <select id="skurbredde" name="skurbredde">
            <option value="">:</option>
        </select>


        <label for="skurLængde">Redskabsrum Længde*</label><br>
        <select id="skurLængde" name="skurLængde">
            <option value="">:</option>
        </select>

    <section>

        <form class = "input">
            <label for="fname"> navn*</label><br>
            <input type="text" id="fname" name="navn"><br>

            <label for="Adresse">Adresse</label><br>
            <input type="text" id="Adresse" name="Adresse"><br>

            <label for="Postnummer">Postnummer</label><br>
            <input type="text" id="Postnummer" name="Postnummer"><br>


            <label for="By">By*</label><br>
            <input type="text" id="By" name="By"><br>


            <label for="Telefonnummer">Telefonnummer*</label><br>
            <input type="text" id="Telefonnummer" name="Telefonnummer"><br>

            <label for="email">Email*</label><br>
            <input type="text" id="email" name="email"><br>
        </form>    </section>

               <p>Kontakt</p>
            <input type="checkbox" id="Samtykke" name="Samtykke" value="Samtykke">
            <label for="Samtykke"> Fog må benytte de afgivne oplysninger til at kontakte mig i forbindelse med tilbud på QuickByg carport*</label><br>

    <button type="button">Bestil tilbud!</button>








</div>
</div>
<footer>
    <section id="footer">
        <table>
        <tr>
            <td>Kundeservice</td>
            <td>Aktuelt</td>
            <td>Om Fog</td>
            <td>Om Fog</td>
            <td>Med omtanke </td>
        </tr>
        <tr>
            <td>16</td>
            <td>14</td>
            <td>10</td>
            <td>Om Fog</td>
            <td>Med omtanke </td>
        </tr>
        </table>
    </section>
</footer>

</body>
</html>
