<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

    <title>welcome to Fogs Login</title>
    <link rel="stylesheet" href="../public/css/stylesheet.css">
    <div th:replace="~{fragments :: head('materials')}"></div>



    <body>
<div class="container">
    <div class="login-box">
        <div th:replace="~{fragments :: header('materials')}"></div>

        <h2>Login</h2>
        <form  class = login method="post">
            <div class="form-group">
                <input type="text" id="login-username" name="username" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" id="login-password" name="password" placeholder="Password" required>
            </div>
            <button id="login-btn" type="submit"formaction="/login">Login</button>
            <p class="errormessage" th:text="${#ctx.message}"></p>

        </form>



        <a th:if="${#ctx.session.currentUser} == null" th:href="@{/createuser}">Create account</a>



    </div>
</div>
</body>
</html>

