<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('materials')}"></div>

<body>

<div id="page-container">
    <div id="page-content">
        <div th:replace="~{fragments :: header('materials')}"></div>
        <h1>Materials</h1>
        <h1>Order Details</h1>

        <table border="1">
            <thead>
            <tr>
                <th>Material ID</th>
                <th>Quantity Ordered</th>
                <th>Product Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${#ctx.user}">
                <td th:text="${user.materialsId}"></td>
                <td th:text="${user.quantityOrdered}"></td>
                <td th:text="${user.productName}"></td>
            </tr>
            </tbody>
        </table>
        <div class="svg-container">
            <svg th:utext="${svgContent}" width="1024" height=800 viewBox="0 0 800 800"></svg>
            <svg th:utext="${svgContent2}" width="1024" height=800 viewBox="0 0 800 800"></svg>
        </div>


        <div th:replace="~{fragments :: footer}"></div>
    </div>
</div>
</body>
</html>
