<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('Ordrer')}"></div>

<body>

<div id="page-container">
    <div id="page-content">
        <div th:replace="~{fragments :: header('Ordrer')}"></div>

            <div class="indhold-box" id="content">
                <h1>Brugere og Ordrer</h1>

                <table id="sortable-table">

                    <thead>
                    <tr>
                        <th onclick="sortTable(0)">ID</th>
                        <th onclick="sortTable(1)">Email</th>
                        <th onclick="sortTable(2)">Balance</th>
                        <th onclick="sortTable(3)">Ordre Nr</th>
                        <th onclick="sortTable(4)">Ordre Status</th>
                        <th onclick="sortTable(5)">Ordre Pris</th>
                        <th onclick="sortTable(6)">Handling</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entry : ${usersAndOrders}">
                        <td th:text="${entry.key.id}"></td>
                        <td th:text="${entry.key.firstName}"></td>
                        <td th:text="${entry.key.lastName}"></td>
                        <td th:text="${entry.key.phoneNumber}"></td>
                        <td th:text="${entry.key.address}"></td>
                        <td th:text="${entry.key.zip}"></td>

                        <td>
                            <table>
                                <tr th:each="order : ${entry.value}">
                                    <td th:text="${order.orderNr}"></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr th:each="order : ${entry.value}">
                                    <td th:text="${order.status}"></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr th:each="order : ${entry.value}">
                                    <td th:text="${order.price}"></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <form th:each="order : ${entry.value}" th:object="${order}" method="post" th:action="@{'/tilbud/' + ${order.orderNr}}">
                                <button type="submit">Se order</button>
                            </form>

                    </tr>
                    </tbody>
                </table>


            </div>



        <div th:replace="~{fragments :: footer}"></div>
    </div>
</div>
</body>
</html>
