<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Order Confirmation</title>
</head>
<body>
<h1>Order Confirmation</h1>

<p>Order Details:</p>
<ul  class="right" method="post">

  <li>Carport Width: <span th:text="${#ctx.width}"></span></li>
  <li>Carport Length: <span th:text="${#ctx.length}"></span>

</ul>

<p>Materials:</p>
<ul>
  <li th:each="material : ${session.quantityordered}">
    Product Name: <span th:text="${material.productName}"></span>
    Quantity Ordered: <span th:text="${material.quantityordered}"></span>
  </li>
  <li>Total Price: <span th:text="${session.totalprice+ 'kr'}"></span></li>
</ul>


</body>
</html>