<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('materials')}"></div>

<body>

<div id="page-container">
  <div id="page-content">
    <div th:replace="~{fragments :: header('materials')}"></div>
    <div class="indhold-box" id="content">
      <svg th:utext="${svgContent}" width="1024" height=800 viewBox="0 0 800 800"></svg>
      <svg th:utext="${svgContent2}" width="1024" height=800 viewBox="0 0 800 800"></svg>


      <div th:replace="~{fragments :: footer}"></div>
    </div>
  </div>
</div>
</body>
</html>
