<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('materials')}"></div>

<body>

<div id="page-container">
  <div id="page-content">
    <div th:replace="~{fragments :: header('materials')}"></div>
    <div class="indhold-box" id="content">

      <svg xmlns="http://www.w3.org/2000/svg" th:utext="${svgContent}" viewBox="0 0 600 300" style="width: 100%; height: 100%;"></svg>




    <div th:replace="~{fragments :: footer}"></div>
  </div>
  </div>
</div>
</body>
</html>
