<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('materials')}"></div>

<body>

<div id="page-container">
    <div id="page-content">
        <div th:replace="~{fragments :: header('materials')}"></div>
        <div class="container">
        <div class="user-box">
            <h2>User Information</h2>
            <div th:each="admin, rowStat : ${#ctx.admin}" th:if="${#vars['rowStat'].index == 0}" class="user-details">
                <p>User ID: <span th:text="${admin.userId}"></span></p>
                <p>First Name: <span th:text="${admin.forname}"></span></p>
                <p>Last Name: <span th:text="${admin.aftername}"></span></p>
                <p>User Email: <span th:text="${admin.userEmail}"></span></p>
                <p>ZIP Code: <span th:text="${admin.zip}"></span></p>
                <p>Address: <span th:text="${admin.address}"></span></p>
                <p>Is Admin: <span th:text="${admin.isAdmin ? 'Yes' : 'No'}"></span></p>
                <p>Password: <span th:text="${admin.password}"></span></p>
                <p>Phone: <span th:text="${admin.phone}"></span></p>
            </div>
        </div>

        <div class="order-box">
            <h2>Order Details</h2>
            <div th:each="admin, rowStat : ${#ctx.admin}" th:if="${#vars['rowStat'].index == 0}" class="details">
                <p>Order ID: <span th:text="${admin.orderId}"></span></p>
                <p>Order Date: <span th:text="${admin.orderDate}"></span></p>
                <p>Status: <span th:text="${admin.status}"></span></p>
                <p>Comments: <span th:text="${admin.comments}"></span></p>
                <p>Order Price: <span th:text="${admin.orderPrice}"></span></p>
            </div>
        </div>

        <div class="material-box">
            <h2>Material Details</h2>
            <table>
                <thead>
                <tr>
                    <th>Material ID</th>
                    <th>Quantity Ordered</th>
                    <th>Product Name</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="admin : ${#ctx.admin}">
                    <td th:text="${admin.materialsId}"></td>
                    <td th:text="${admin.quantityOrdered}"></td>
                    <td th:text="${admin.productName}"></td>
                </tr>
                </tbody>
            </table>
        </div>

            <form method="post" action="/updatePrice">
                <div>
                    <label for="newPrice">Nyt saldo:</label>
                </div>
                <input type="text" id="newPrice" name="newPrice" th:value="${#ctx.admin[0].orderPrice}" />
                <input type="hidden" id="orderId" name="orderId" th:value="${#ctx.admin[0].orderId}" />
                <button type="submit">Gem ændringer</button>
            </form>


            <svg th:utext="${svgContent}" width="1024" height=800 viewBox="0 0 800 800"></svg>
            <svg th:utext="${svgContent2}" width="1024" height=800 viewBox="0 0 800 800"></svg>
    </div>
    </div>
</div>
</body>
</html>
