<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fog</title>
    <link rel="stylesheet" href="../public/stylesheet.css">
</head>

<body>
<div>
    <header>
        <a href="index.html" class="logo">Fog</a>

        <nav class="navigation">
            <a href="/">Bolig & Design</a>
            <a href="/">Byggermaterialer</a>
            <a href="/">Kontakt</a>
        </nav>
    </header>
</div>

<h1>Bestil Quick-Byg tilbud - carport med fladt tag</h1><br>
<h3>
    Med et specialudviklet computerprogram kan vi lynhurtigt beregne prisen og udskrive en skitsetegning på en carport indenfor vores standardprogram.
    Tilbud og skitsetegning fremsendes med post hurtigst muligt.
    Ved bestilling medfølger standardbyggevejledning.

    Udfyld formularen omhyggeligt og klik på "Bestil tilbud".
    Felter markeret med * SKAL udfyldes!</h3>
<div id = "content ">

    <div class="indhold-box" id="content">
        <div id = 'orderContent'>

            <table border="1">
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th>Comments</th>
                    <th>User ID</th>
                    <th>Order Price</th>
                    <th>Materials ID</th>
                    <th>Quantity Ordered</th>
                    <th>Detail Price</th>
                </tr>

                <tr th:each="admin : ${#ctx.admin}">
                    <td th:text="${admin.orderId}"></td>
                    <td th:text="${admin.orderDate}"></td>
                    <td th:text="${admin.status}"></td>
                    <td th:text="${admin.comments}"></td>
                    <td th:text="${admin.userId}"></td>
                    <td th:text="${admin.orderPrice}"></td>
                    <td th:text="${admin.materialsId}"></td>
                    <td th:text="${admin.quantityOrdered}"></td>
                    <td th:text="${admin.detailPrice}"></td>
                </tr>
            </table>

            <form method="post" action="/updateUser">
                <div>
                    <label for="newBalance">Nyt saldo:</label>
                </div>
                <input type="text" id="newBalance" name="newPrice" th:value="${#ctx.admin[0].orderPrice}" />
                <button type="submit">Gem ændringer</button>
            </form>


        </div>


    <footer>
        <section id="footer">
            <table>
                <tr>
                    <td>Kundeservice</td>
                    <td>Aktuelt</td>
                    <td>Om Fog</td>
                    <td>Om Fog</td>
                    <td>Med omtanke </td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>14</td>
                    <td>10</td>
                    <td>Om Fog</td>
                    <td>Med omtanke </td>
                </tr>
            </table>
        </section>
    </footer>
</body>
</html>
